<!-- $Id: article-settings.html,v 1.2.2.4 2011/01/11 08:46:40 jcmc Exp $ -->

<ul>
<li><strong>Gallery Assist (GA) settings</strong>
  <ul>
    <li>Items order<br>
      <ul>
<li>Field to order: <br></li>
<li>Order type: <br></li>
      </ul>

    </li>
  </ul>
  <ul>
    <li>Common<br>
<ul>
<li>Gallery Public Status: <br></li>
<li>Gallery container weight: <br></li>
<li>Show this gallery as: <br>
</li><li>Show titles: <br></li>

<li>Shadow: <br>The used css-format will supported only in newest browser versions. See  <a href="/node/105/122">example</a>.</li>
<li>Show in user profile: <br></li>
<li>Show in block: <br></li>
</ul>
    </li>
  </ul>
<ul>
<li>Layout
<ul>

<li>Teaser container
<ul>
<li>Align: <br></li>
<li>Float: <br></li>
<li>Hide container in teaser: <br></li>
</ul></li>
<li>Page container
<ul>
<li>Align:</li>
<li>Float:</li>
</ul></li>
<li>Preview

<ul>
<li>Display the download link: <br></li>
</ul></li>
  </ul>
</li>
</ul>
</li>
</ul>
