<!-- $Id: assignments.html,v 1.2.2.4 2011/01/11 08:46:40 jcmc Exp $ -->

Gallery Assist (GA) provide the content type <em>Gallery</em>, prepared with gallery functionality.

The gallery functionality can be assigned to all other content types.
In this case and for the documentation I call these <em><strong>Assignment</strong>(<strong>s</strong>)</em>.

You can manage the GA permissions and combine them using all the possibilities offered by your Drupal installation.

Please pay close attention when sharing permissions to assignments.
Users with the permission <em>create gallery_assist content</em> in an assignment need the permission to create content of this content type.

Each assignment can be managed separately.

GA provide you a broad spectrum of layout options.
