<!-- $Id: block-options.html,v 1.1.2.5 2011/01/11 08:46:40 jcmc Exp $ -->

Gallery Assist (GA) block options

Three GA block options are available.
<ol>
  <li><strong>My Galleries</strong>
  This block display the own galleries as covers or as list.
  More informations coming soon.
  </li>
  <li><strong>Galleries</strong>
  This block is similar to the <em>My Galleries</em> block. It shows only the galleries with enabled <em>show in block</em> option.
  More informations coming soon.
  </li>
  <li><strong>Block Gallery</strong>
  This block presents a gallery. You can enter one or more node ID's. If several galleries have been entered, one will be shown randomly.
  More informations coming soon.
  </li>
</ol>
