<!-- $Id: global-settings.html,v 1.1.2.5 2011/01/11 08:46:40 jcmc Exp $ -->

Gallery Assist (GA) configuration: Global settings.
GA provide for each content type a settings page where the owners, moderators or admins can set the glogal configuration of the in groups ordered parameters:
<ul>
<li>Sizes
<ul>
<li>Upload
<ul>
<li>Thumbnail upload size:</li>
<li>Preview upload size:</li>
</ul>

</li>
<li>Display
<ul>
<li>Thumbnail display size: </li>
<li>Preview display size: </li>
<li>Extra thumbnail custom size: </li>
</ul>
</li>
</ul>
</li>
<li>Node type upload settings
<ul>
<li>Maximum resolution for uploaded images: </li>

<li>Default permitted file extensions: </li>
<li>Default maximum file size per upload: </li>
<li>Default total file size per user: </li>
<li>PHP settings limit:</li>
</ul>
</li>
<li>Layout
<ul>
<li>Thumbnails per row: </li>
<li>Rows per page: </li>
<li>Thumbnails per row for the teaser: </li>

<li>Thumbnails
<ul>
<li>Items margin:</li>
<li>Items padding:</li>
<li>Items border:</li>
<li>Items border color:</li>
</ul>
</li>
<li>Titles and Help links
<ul>
<li>Back link: </li>
<li>Display titles:</li>

<li>Cut item title text for display: </li>
<li>Title links toggle:</li>
<li>Title links position: </li>
</ul>
</li>
<li>Teaser container
<ul>
<li>Align: </li>
<li>Float: </li>
</ul>
</li>
<li>Page container

<ul>
<li>Align: </li>
<li>Float: </li>
</ul>
</li>
<li>Node settings defaults
<ul>
<li>Items order
<ul>
<li>Field to order: </li>
<li>Order type: </li>
</ul>
</li>

<li>Common
<ul>
<li>Gallery Public Status: </li>
<li>Gallery container weight:</li>
<li>Show this gallery as:</li>
<li>Show titles</li>
<li>Show in user profile</li>
<li>Show in block</li>
</ul>
</li>
</ul>

</li>
<li>Extra layout settings
<ul>
<li>Teaser container
<ul>
<li>Hide container in teaser:</li>
</ul>
</li>
<li>Page container</li>
<li>Preview
<ul>
<li>Display the download link:</li>
<li>Gallery call type:</li>

</ul>
</li>
</ul>
</li>
</ul>
</li>
<li>Pager
<ul>
<li>Type: </li>
<li>Layout: </li>
<li>Position:</li>
<li>Format: </li>
<li>Quantity of visible links: </li>

<li>ImageCache preset: </li>
</ul>
</li>
<li>Others
<ul>
<li>Display the download link: </li>
<li>Gallery Public Status: </li>
<li>Images per node: </li>
<li>Amount of uploads fields: </li>
<li>Use graphic links by editing of gallery images: </li>
</ul>

</li>
<li>Permission settings
<ul>
<li>Gallery Assist (GA) settings::Common: </li>
<li>Gallery Assist (GA): settings: </li>
<li>Gallery Assist (GA) settings::Common::Display this gallery as: </li>
<li>Gallery Assist (GA) settings::Common::Gallery container weight: </li>
<li>Gallery Assist (GA) settings::Common::Show in block: </li>
<li>Gallery Assist (GA) settings::Common::Show in user profile: </li>
<li>Gallery Assist (GA) settings::Common::Show titles: </li>

<li>Gallery Assist (GA) settings::Common::Shadow: </li>
<li>Gallery Assist (GA) settings::Layout: </li>
<li>Gallery Assist (GA) settings::Extra-layout-Teaser::Hide gallery container: </li>
<li>Gallery Assist (GA) settings::Extra-layout-Preview::Display download link: </li>
</ul>
</li>
</ul>
