<!-- $Id: optional-modules.html,v 1.2.2.4 2011/01/11 08:46:40 jcmc Exp $ -->

Optional modules which can extend the functionality of Gallery Assist.
<ol>
  <li>Gallery Assist ImageCache (GAIC)</li>
  <li>Gallery Assist Lightboxes (GALB)</li>
  <li>Gallery Assist for Cooliris viewer (GA4CV)</li>
  <li>Gallery Assist Upload and Import Helper (GAUIH)</li>
  <li>Image FUpload for Gallery Assist (GAIFU)</li>
  <li>Gallery Assist Comments (GAC)</li>
  <li>Gallery Assist Exif (GAE)</li>
</ol>

Advanced help to each optional module is included in the respective module folder.