<!-- $Id: pager.html,v 1.2.2.4 2011/01/11 08:46:40 jcmc Exp $ -->

Gallery Assist (GA) pager.

<h2>General</h2>
The pager for the item display is themeable. See templates example files in the GA module folder.

You can choose between a <strong>numerical</strong> or a <strong>graphical</strong> pager.

<h2>Pager skins</h2>
You can create your own pager skins. You should only call the files with the right names.

See the <?php print l('screencast', 'node/14'); ?>.

To obtain that all pager skins be available:
<ol>
  <li>Create a folder called <strong>ga_pager</strong> in your current theme directory.</li>
  <li>The layout variants are to find at path/to/your/contributed_modules/gallery_assist/ga_pager.</li>
  <li>Copy the layout variants you want to use to the <strong>ga_pager</strong> folder in the current theme directory.
  </li>
</ol>
